.l-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
}


@media (max-width: @screen-xs-max) and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) and (min-width: @screen-lg-min) {
  .m-article_text-block　{
    padding: 5px 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }


  .m_article_title  {
    font-family: "游明朝";
    padding: 5px 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

 }
